{% extends "what_to_do_app/base.html" %}

{% block content %}

<div id="update-container">
    <p id="p-update">Update the task</p>    
    <form action="" method='POST'>
        {% csrf_token %}
        {{form.text}}
        <br>
        <div id="btn-container-upd">
        <a href="{% url 'what_to_do_app:index' %}">
            <button id="btn-cancel-update">Cancel</button>
        </a><button id="btn-save-update">Edit</button>
        </div>
    </form>
    </div>
</div>

{% endblock content %}
